body {
  font-family: "Poppins", sans-serif;
  background-color: #343a40;
  color: #e9ecef;
}

.container {
  margin-top: 30px;
  max-width: 900px;
}

.dashboard-header {
  background-color: #495057;
  color: #e9ecef;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.dashboard-header h2 {
  margin: 0;
}

.dashboard-header p {
  margin: 10px 0 20px;
}

.btn-create-survey {
  color: #f39c12;
  font-size: 24px;
  margin-right: 15px;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.btn-create-survey:hover {
  color: #d35400;
  transform: scale(1.2);
}

.logout-icon {
  cursor: pointer;
  color: #e9ecef;
  font-size: 24px;
  transition: color 0.3s;
}

.logout-icon:hover {
  color: #dc3545;
}

.survey-card {
  border-radius: 10px;
  background-color: #495057;
  color: #e9ecef;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.survey-card:hover {
  transform: scale(1.02);
}

.survey-card-body {
  padding: 20px;
}

.modal-content {
  border-radius: 15px;
  background-color: #212529;
  color: #e9ecef;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.modal-header {
  background-color: #343a40;
  color: #e9ecef;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}

.modal-title {
  color: #e9ecef;
}

.modal-body {
  padding: 20px;
  color: #e9ecef;
}

.modal-footer {
  background-color: #343a40;
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.btn-secondary {
  background-color: #007bff;
  border-color: #007bff;
  color: #e9ecef;
}

.btn-secondary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.list-group-item {
  background-color: #212529;
  color: #e9ecef;
  border: none;
  border-bottom: 1px solid #343a40;
}

.list-group-item:last-child {
  border-bottom: none;
}

.fade.show {
  transition: opacity 0.3s ease-in-out;
}

.btn-close {
  filter: brightness(0) invert(1);
}
